.footer{
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    padding: 70px 0;
    h3{
        margin-bottom: 67px;
        @media screen and(max-width:854px) {
            font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin-bottom: 50px;
          }
          @media screen and(max-width:500px) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 30px;
          }
    }
    @media screen and(max-width:854px) {
        padding: 60px 0;
    }

    @media screen and(max-width:500px) {
        padding: 40px 0;
   
      }
    
    .container{
        @media screen and(max-width:854px) {
            max-width: 677px;
        }
      
    }
    

    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    @media screen and(max-width:1180px) {
        flex-wrap: wrap;
    }
    @media screen and(max-width:854px) {
        justify-content: center;
       
    }
}
.footer-left{
    @media screen and(max-width:854px) {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        margin-top: 58px;
    }
    @media screen and(max-width:500px) {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
    }

  
}
.footer-tel,.footer-time,.footer-mail,.footer-addres{
    p,a{
        display: flex;
        align-items: center;
        &::before{
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }

    }
    
}


.footer-tel{
    :last-child{
        margin-bottom: 48px;
    }
    a{
        margin-bottom: 26px;
    }
    a::before{
        background-image: url(../../assets/svg/tel.svg);
    }
    @media screen and(max-width:854px) {
       flex-basis: 50%;
       
    }
    @media screen and(max-width:500px) {
        order: 4;
   
      }
}
.footer-time{
    :last-child{
        margin-bottom: 48px;
    }
    p{
        margin-bottom: 15px;
        @media screen and(max-width:854px) {
            justify-content: end;
         }
         @media screen and(max-width:500px) {
            justify-content: start;
         }
    }
    p::before{
        background-image: url(../../assets/svg/clock.svg);
    }
    @media screen and(max-width:854px) {
        flex-basis: 50%;
     }
     @media screen and(max-width:500px) {
        order: 2;
   
      }
    
}
.footer-mail{
    a::before{
        background-image: url(../../assets/svg/mail.svg);
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    @media screen and(max-width:854px) {
        flex-basis: 100%;
        order: 4;
     }
}
.footer-addres{
    margin-bottom: 45px;
    p::before{
        background-image: url(../../assets/svg/map.svg);
    }
    @media screen and(max-width:854px) {
        order: 3;
        margin-bottom: 20px;
    }
    @media screen and(max-width:500px) {
        order: 1;
   
      }
}
.footer-right{
    iframe{
        width:900px; 
        height:400px;
        @media screen and(max-width:1180px) {
            width: 687px;
         }
         @media screen and(max-width:854px) {
           width: 677px;
           height: 346px;
        }
        @media screen and(max-width:700px) {
            width: 322px;
            height: 172px;
         }
    }
    
    
}
.footer-bottom{
    font-size: 18px;
line-height: 21px;
text-align: left;

color: #A8A8A8;
margin-top: 20px;
@media screen and(max-width:500px) {
    font-size: 14px;
line-height: 16px;
padding-left: 40px;
  }

}