.partners{
    text-align: center;
    padding-top: 165px;
    @media screen and(max-width:854px) {
        padding-top: 95px;
      }
    
}
.partnersSwiper{
    margin-top: 108px;
    @media screen and(max-width:700px) {
      max-height: 500px;
    }
    .swiper-wrapper{
        display: flex;
        align-items: center;
    }
    @media screen and(max-width:854px) {
        margin-top: 35px;
      }
   
}
.partners-img{
    max-height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}
.partners-imgOne{
    background-image: url(../../assets/img/partners1.png);
    height: 110px;
    width: 360px;
    @media screen and(max-width:854px) {
        height: 61px;
        width: 194px;
      }
}
.partners-imgSec{
    background-image: url(../../assets/img/partners2.png);
    background-size:100%;
    background-repeat: no-repeat;
    height: 122px;
    width: 480px;
    @media screen and(max-width:854px) {
        height: 66px;
        width: 257px;
      }
}
.partners-imgThird{
    background-image: url(../../assets/img/partners3.png);
    height: 82px;
    width: 337px;
    @media screen and(max-width:854px) {
        height: 43px;
        width: 181px;
      }
}
.partners-imgFour{
    background-image: url(../../assets/img/partners4.png);
    height: 125px;
    width: 246px;
    @media screen and(max-width:854px) {
        height: 65px;
        width: 180px;
      }
}
.partners-imgFive{
    background-image: url(../../assets/img/partners5.png);
    height: 127px;
    width: 537px;
    background-repeat: no-repeat;
    background-size: 100%;
    @media screen and(max-width:854px) {
        height: 65px;
        width: 230px;
      }
}
.partners-imgSex{
    background-image: url(../../assets/img/partners6.png);
    height: 130px;
    width: 351px;
    @media screen and(max-width:854px) {
        height: 60px;
        width: 170px;
      }
}
.partners-imgSeven{
    background-image: url(../../assets/img/partners7.png);
    height: 164px;
    width: 220px;
    @media screen and(max-width:854px) {
        height: 70px;
        width: 120px;
      }
}
.partners-imgEight{
    background-image: url(../../assets/img/partners8.png);
    height: 210px;
    width: 157px;
    background-repeat: no-repeat;
    background-size: 100%;
    @media screen and(max-width:854px) {
        height: 130px;
        width: 100px;
      }
}
.partners-imgNine{
    background-image: url(../../assets/img/partners9.png);
    height: 127px;
    width: 162px;
    @media screen and(max-width:854px) {
        height: 70px;
        width: 100px;
      }
}


.partners-paginate_wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 90px;
    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
      @media screen and(max-width:700px) {
        display: flex;
        top: 0;
           transform: translate3d(0px,0,0);
       }
    }
  }
  .partners-pagination{
    max-width: 87px;
   
  }